<!DOCTYPE html>
<body bgcolor="4e5d94">
  <head>
    <title>Tekno</title>
  <meta content="Tekno" property="og:title">
  <meta content="Tekno is a multi-feature discord bot, filled with over 60 commands!" property="og:description">
  <meta content="Tekno" property="og:site_name">
  <meta content="Tekno" property="og:image" content="assets/banner.png">
  <link class="rounded" href="assets/BotLogo.png" rel="icon">
  </head>

<iframe align="left"src="https://discord.com/widget?id=894164132100730880&theme=dark" width="300" height="300" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
<iframe align="left" src="https://radarbotdirectory.xyz/api/bot/888732127586316289/widget" width="300" height="300" allowtransparency="false" frameborder="0.0000000000000000000000000000001" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
<iframe align="center" src="https://top.gg/api/widget/888732127586316289.svg" width="300" height="300" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
</body>
</html>